/* stylelint-disable a11y/no-outline-none */
/* stylelint-disable a11y/media-prefers-reduced-motion */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #202142;
  color: #fff;
  line-height: 1.6;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.card {
  margin: 20px 0;
  padding: 40px 50px;
  color: #333;
  border-radius: 15px;
  background-color: #fff;
  position: relative;
}

.card.reverse {
  background-color: rgb(0 0 0 / 40%);
  color: #fff;
}

.card h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0 40px;
}

@media screen and (prefers-reduced-motion: reduce) {
  .rating li,
  .num-display {
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 19px;
    border: 1px #eee solid;
    border-radius: 50%;
    position: relative;
    background: #f4f4f4;
    transition: none;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .rating li,
  .num-display {
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    font-size: 19px;
    border: 1px #eee solid;
    border-radius: 50%;
    position: relative;
    background: #f4f4f4;
    transition: none;
  }
}

.rating li,
.num-display {
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  border: 1px #eee solid;
  border-radius: 50%;
  position: relative;
  background: #f4f4f4;
  transition: .3s;
}

.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.rating li:hover,
.rating li:focus,
.num-display {
  background: #ff6a95;
  color: #fff;
}

[type="radio"] {
  opacity: 0;
}

[type="radio"]:checked ~ label {
  background: #ff6a95;
  color: #fff;
}

.input-group {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

input {
  font-size: 16px;
  border: none;
  flex-grow: 2;
}

input:focus {
  outline: none;
}

.feedback-stats {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.num-display {
  position: absolute;
  top: -10px;
  left: -10px;
}

.close,
.edit {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 40px;
}

.btn {
  width: 100px;
  height: 40px;
  color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary {
  background-color: #202142;
}

.btn-secondary {
  background: #ff6a95;
}

.btn:hover,
.btn:focus {
  transform: scale(.98);
  opacity: .9;
}

.btn:disabled {
  background-color: #ccc;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover,
.btn:disabled:focus {
  transform: scale(1);
  opacity: 1;
}

.message {
  color: rebeccapurple;
  text-align: center;
  padding-top: 10px;
}

.about-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  cursor: pointer;
}

.about-link a {
  color: #fff;
}

.about-link a:hover,
.about-link a:focus {
  color: #ff6a95;
}

.about h1 {
  margin-bottom: 20px;
}

.about p {
  margin: 10px 0;
}

@media (max-width: 600px) {
  .rating li {
    margin: 10px 3px;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 40px;
  }

  .input-group input {
    width: 80%;
  }
}
